/InstaBot/TestDataService/obj
/InstaBot/TestDataService/bin
/InstaBot/.vs
/InstaBot/InstaBot/bin
/InstaBot/InstaBot/obj
/InstaBot/Extensions/bin
/InstaBot/Extensions/obj
/InstaBot/ColorProfileForm/bin
/InstaBot/ColorProfileForm/obj
/InstaBot/ColorProfile/obj
/InstaBot/ColorProfile/bin
